body {
	background-color: rgba(235, 211, 168, 0.664);
	background-image: 
		repeating-linear-gradient(transparent, transparent 30px, rgba(82, 81, 81, 0.71) 30px, rgba(82, 81, 81, 0.71) 32px), 
		repeating-linear-gradient(to right, transparent, transparent 30px, rgba(82, 81, 81, 0.71) 30px, rgba(82, 81, 81, 0.71) 32px);
		
	color: midnightblue;
	height: 85vh;
}

header{
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius:10px 25%;
    background-color: rgb(254, 229, 182);
    height: 5em;
    text-align: center;
}

main{
    margin-top:10%;
    margin-left: 20%;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius:10px 25%;
    background-color: rgb(254, 229, 182);
    height: 10em;
    width: 50em;
    text-align: center;
}

p{
    font-size: 18px;
}

button{
    margin-top: 1%;
    margin-left: 2%;
	display:inline-block;
	text-decoration:none;
	font-family:Arial;
	font-size:16px;
	border:2px solid midnightblue;
	border-bottom:1px solid midnightblue;
	border-right:1px solid midnightblue;
	border-radius:15px 5px;
	color:midnightblue;
	background-color:#a0c9c4;
	padding:5px 10px;
}
button:hover{
	border-color:midnightblue;
	color:midnightblue;
	border-radius:5px 15px;
}