section {
  min-height: 100vh;
  padding: 5rem 9% 5rem;
  display: fixed;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 8%;
}



/* Gallari */
.gallery {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
 grid-gap: 40px;
}

.gallery img {
  width: 100%;
 }

 .gallery a:focus{
  width: 110%;
 }


