section {
  min-height: 100vh;
  padding: 5rem 9% 5rem;
  display: fixed;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 8%;
}

#projekte{
  text-align: left;
  padding-top: 10px;
  padding-left: 2em;
  padding-bottom: 10px;;
  background-color: burlywood;
}

.versteckt {
  display: none;
}

#comic-container{
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

#comic-image {
  width: 100%;
  max-width: 700px;
  max-height: 800px;
  height: auto;
  box-shadow: 0 0 20px #000;
  border-radius: 10px;
}

#controls {
  margin-top: 1rem;
}

/* Gallari */
.gallery {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
 grid-gap: 40px;
}

.gallery img {
  width: 100%;
 }

 .gallery a:focus{
  width: 110%;
 }

 #projekte button {
  background-color: burlywood;
  color: black;
  border: none;
  padding: 10px 20px;
  /* padding: 10px 20px;
  border: none;
  margin: 0 10px;
  border-radius: 5px; */
  cursor: pointer;
}

 #projekte button:hover {
  color: #5249fb;
 }

 #controls button {
  background-color: #444;
  color: white;
  padding: 10px 20px;
  border: none;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}

#controls button:hover {
  background-color: #666;
}