section {
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: fixed;
  text-align: center;
  justify-content: center;
  align-items: center;
}
h1 {
  padding-bottom: 1em;
}
h2 {
  margin-bottom: 0.5em;
}

.title {
  text-align: center;
}

.timeline {
  margin: 5em auto;
  max-width: 34.15em;
}

.checkpoint {
  max-width: 34em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.checkpoint div {
  border: 2px solid rgb(174, 159, 58);
  border-radius: 1em;
  padding: 1.5em;
}

.checkpoint p {
  line-height: 27px;
}

.checkpoint a:haver {
  color: red;
}
.checkpoint a:focus {
  color: red;
}

.checkpoint:nth-child(odd) {
  border-left: 3px solid rgb(174, 159, 58);
  padding-left: 3em;
  transform: translateX(17em);
}

.checkpoint:nth-child(even) {
  border-right: 3px solid rgb(174, 159, 58);
  padding-right: 3em;
  transform: translateX(-17em); 
}

.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before {
  content: "";
  background-color: rgb(174, 159, 58);
  width: 3em;
  height: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before {
  left: 0;
}
.checkpoint:nth-child(even)::before {
  right: 0;
}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before {
  content: "";
  background: rgb(174, 159, 58);
  box-shadow: 0 0 0.5em rgb(174, 159, 58);
  width: 0.8em;
  height: 0.8em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before {
  left: -0.5em;
}
.checkpoint:nth-child(even) div::before {
  right: -0.5em;
}

@media screen and (max-width: 800px) {
  .timeline {
    width: 80vw;
  }
  .timeline .checkpoint {
    width: 100%;
    transform: none;
    padding-left: 0;
    padding-right: 0;
    border: none;
  }
  .timeline .checkpoint::before {
    visibility: hidden;
  }

  .timeline .checkpoint div::before {
    visibility: hidden;
  }
}
