<p>
Das erste Text-Adventure: <a href="https://github.com/Quinn-Quantum/The_Cave">The Cave</a>
</p>
<p>
Der erste größere Versuche einer Webseite: <a href="https://github.com/Quinn-Quantum/Django_RPG">Django_RPG</a>
</p>

<p>
  Das erste 2D Abenteuer: <a href="https://github.com/Quinn-Quantum/PilzJump">PilzJump </a>
</p>

<p>
  Das erste Schrit mit 3D Modellen: <a href="https://github.com/Quinn-Quantum/bomberJam64">bomber Jam 64 </a>
</p>

<p>
  Erstes größeres Schulprojekt: <a href="https://github.com/Quinn-Quantum/Monsters_of_Cards">Monsters_of_Cards </a>
</p>
